* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #333;
}

#cloud {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cloud .svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
}
